        <div class="container-fluid" id="footerStyle">
            <div class="row">
                <div class="col-md-4">
                    <p>Want to get in touch?</p>
                </div>
                <div class="col-md-8">
                    <h4>Contact Me!</h4>
                    <ul id="footerList">
                        <li>sylwek.tarnowski@gmail.com</li>
                        <li>+48 506 073 635</li>
                        <li><a href="https://www.linkedin.com/in/sylvestertarnowski/">LinkedIn</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <script src="/scripts/jquery-3.3.1.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script src="/scripts/bootstrap.min.js"></script>
    </body>
</html>