<% include partials/header %>

<div class="container">
    <div class="jumbotron"><h1>Teaching Myself Code</h1></div>
    <% blogs.forEach(function(blog) { %>
        <div class="row">

            <div class="col-md-6">
                <img class="img-thumbnail" alt="Generic placeholder image" src ="<%= blog.image %>" id="image"> 
            </div>
            <div class="col-md-6">
                <h5 id="title"><%= blog.title %></h5>
                <div id="body"> <%= blog.body %> </div>
                <div><a href="/blogs/<%= blog._id %>"><button class="btn btn-default">View Blog</button></a></div>
            </div>
        </div>
    <% }); %>
</div>

<% include partials/footer %>