<% include partials/header %>

<div class="container">
    <div class="jumbotron"><h1>Blogs list page</h1></div>
    <div class="row">
        <div class="col-md-12">
            <% blogs.forEach(function(blog) { %>
                <div class="container">
                    <div id="title"> <%= blog.title %> </div>
                    <div id="image"> <%= blog.image %> </div>
                    <div id="body"> <%= blog.body %> </div>
                </div>
            <% }); %>
        </div>    
    </div>
</div>

<% include partials/footer %>