<% include partials/header %>

<div class="container-fluid">
        <div class="row" id="landing-page">
                <div class="col col-lg-12 justify-content-center">
                <div class="box h-100 d-flex justify-content-center flex-column">
                                <h1>Sylvester Blog</h1>
                                <br>
                                <h3>Documenting Having Fun Coding</h3>
                                <br>
                                <a href="/blogs"><button class="btn btn-success">Go to Blog</button></a>
                </div>
                </div>
        </div>
</div>
                
<% include partials/footer %>