<% include partials/header %>

<div class="container-fluid" id="landing-page">
        <h1>Sylvester Blog</h1>
        <h3>Documenting Having Fun Coding</h3>
        <button class="btn btn-success">Go to Blog</button>
</div>
                
<% include partials/footer %>