<% include partials/header %>

<div class="container">
    <div> <%= blog.title %> </div>
    <div> <img class="img-fluid" alt="Responsive image" src="<%= blog.image %>"> </div>
    <div> <%= blog.body %> </div>
</div>

<% include partials/footer %>