#image {
    object-fit: contain;
}

#blogBody {
    min-height: 200px;
}

#footerStyle {
    background-color: rgb(34, 35, 41);
    color: rgb(225, 226, 235);
}

#landing-page {
    background: url("../images/landing-background.jpg");
    background-size: cover;
    min-height: 700px;
    color: white;
}

.row {
    padding: 20px;
    text-align: center;
}