#image {
    size: cover;
}

#blogBody {
    min-height: 200px;
}

#footerStyle {
    background-color: rgb(34, 35, 41);
    color: rgb(225, 226, 235);
}

#footerList {
    padding: 0;
    list-style-type: none;
}

#landing-page {
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.65)),url("../images/landing-background.jpg");
    background-size: cover;
    min-height: 700px;
    color: white;
}

.btn-success {
    width: 150px;
    margin: 0 auto;
}

.row {
    padding: 20px;
    text-align: center;
}